.main-nav {
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle-nav {
  position: relative;
  margin-top: 1%;
  width: 35%;
}

.middle-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.middle-nav ul li {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7780a1;
}

.end-nav {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.end-nav button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 117px;
  height: 52px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-button {
  color: #7780a1;
  border: 2px solid #7780a1;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1),
  inset 4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.myaccount-button {
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1),
  inset 4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: #ffffff;
}
