<nav class="main-nav">
    <div class="logo">
        <img src="../../assets/Logo.png" alt="">
    </div>
    <div class="middle-nav">
        <ul>
            <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/collections-component" routerLinkActive="active" ariaCurrentWhenActive="page">Collections</a></li>
            <li>Discover</li>
            <li>Community</li>
        </ul>
    </div>
    <div class="end-nav">
        <button class="contact-button">
            Contact
        </button>
        <button class="myaccount-button">
            My Account
        </button>
    </div>
</nav>
<router-outlet></router-outlet>