<nav class="main-nav">
    <div class="logo">
        <img src="../../assets/Logo.png" alt="">
    </div>
    <div class="middle-nav">
        <ul>
            <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/collections-component" routerLinkActive="active" ariaCurrentWhenActive="page">Collections</a></li>
            <li><a routerLink="/nfts-component" routerLinkActive="active" ariaCurrentWhenActive="page">NFTs</a></li>
            <li><a>Community</a></li>
        </ul>
    </div>
    <div class="end-nav">
        <button disabled class="contact-button">
            Contact
        </button>
        <button disabled class="myaccount-button">
            My Account
        </button>
    </div>
</nav>
<nav class="navbar navbar-dark  bg-primary fixed-top">
    <div class="container-fluid">
        <div class="logo">
            <img src="../../assets/Logo.png" style="width: 170px;" alt="">
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-info" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">NFT Market</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
              <a class="nav-link active" data-bs-dismiss="offcanvas" aria-current="page" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-bs-dismiss="offcanvas" aria-current="page" routerLink="/collections-component" routerLinkActive="active" ariaCurrentWhenActive="page">Collections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-bs-dismiss="offcanvas" aria-current="page" routerLink="/nfts-component" routerLinkActive="active" ariaCurrentWhenActive="page">NFTs</a>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>