* {
  margin: 0;
  padding: 0;
  display: flex;

}

.nft-item {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  height: 500px;
  border: 1px solid lightblue;
  box-shadow: 10px 10px 10px #7674e2;
  border-radius: 15px;
}

.nft-info {
  width: 45%;
  height: 500px;
}

.nft-info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.nft-image {
  width: 520px;
  height: 490px;
}

.nft-image img {
  width: 450px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightblue;
}

.nft-info-list li h3 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.2px;
  color: #060714;
}


.Description {
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #7780a1;
} 

#address {
  cursor: pointer;
}