* {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 500px;
  border: 1px solid black;
}

.nft-info {
    border: 1px solid black;
}

.nft-info-list {
    display: flex;
    flex-direction: column;
}

.nft-image {
  width: 50%;
}

.nft-image img {
    border-radius: 15px;
}
