<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-home">
    <h3 class="f-nft">Non Fungible Tokens</h3>
    <div class="main-frame">
        <h1>
            A new NFT </h1>
        <br>
        <br>
        <br>
        <h1>
            Experience
        </h1>
    </div>
    <h3 class="f-dcs">Discover, collect and sell</h3>
    
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Items, collections and creators" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

    <div class="logos">
        <img src="../../assets/Ritter Sport.png" alt="ritter-sport-logo">
        <img src="../../assets/Nike.png" alt="nike-logo">
        <img src="../../assets/Adidas.png" alt="addidas-logo">
        <img src="../../assets/New Holland.png" alt="new-holland-logo">
    </div>
</div>