<h1>Recent Collections</h1>
<br>
<div>
    <ul class="collections" *ngIf="CollectionData">
        <li *ngFor="let item of CollectionData">
            <div class="collection-item">
                <div class="image-link">
                    <a href={{item.exchange_url}} target="_blank"><img class="collection-image" src={{item.image_url}}> </a>
                </div>
                <div class="name-exchange">
                    <h3 class="collection-name">{{item.name}}</h3>
                    <span id="exchange-badge" class="badge text-bg-info">{{item.exchange}}</span>

                </div>

            </div>

        </li>
    </ul>
    <div *ngIf="CollectionData === undefined">
      Fetching Data ...
    </div>
</div>